*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  tab-size: 4;
}

body {
  min-height: 100dvh;
  overflow-x: hidden;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

svg {
  max-width: 100%;
}

img,
video {
  height: auto;
}

iframe {
  border: 0;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
